*.iml
*.ipr
*.iws
*.launch
*.log
*.swp
*~
.#*
.actionScriptProperties
.checkstyle
.classpath
.flexProperties
.idea
.mvn-completions
.mymetadata
.project
.settings
.springBeans
SESSIONS.ser
TAGS
TestRunner.mxml
activemq-data
eclipse_config
flex-config.xml
static-linking-flex-config.xml
tags
target
target-eclipseClasses
temp-testng-customsuite.xml
test-output
work
.manager
